@keyframes ShootStar {
  0% {
    transform: rotate(30deg) translateX(0);
    opacity: 1;
  }
  4% {
    opacity: 1;
  }
  5% {
    transform: rotate(30deg) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: rotate(30deg) translateX(0);
    opacity: 0;
  }
}
@keyframes ShrinkStar {
  0% {
    width: 250px;
  }
  5% {
    width: 10px;
  }
}

@keyframes LeftWing {
  0% {
    transform: translateX(15px) rotateY(90deg);
  }
  10% {
    transform: translateX(15px) rotateY(90deg);
  }
  60% {
    transform: translateX(15px) rotateY(0deg);
  }
  100% {
    transform: translateX(15px) rotateY(0deg) scale(5);
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
}
@keyframes RightWing {
  0% {
    transform: translateX(-15px) rotateY(90deg);
  }
  10% {
    transform: translateX(-15px) rotateY(90deg);
  }
  60% {
    transform: translateX(-15px) rotateY(0deg);
  }
  100% {
    transform: translateX(-15px) rotateY(0deg) scale(5);
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
}
@keyframes spanGlow {
  60% {
    transform: scale(1);
    text-shadow: 0 0 5px #feffdf;
  }
  100% {
    transform: scale(5);
    text-shadow: 0 0 50px #feffdf;
  }
}
@keyframes BgGlow {
  60% {
    box-shadow: 0 0 5px 5px #feffdf;
  }
  100% {
    box-shadow: 0 0 500vw 500vw #feffdf;
  }
}
